<!DOCTYPE html>

<html>
	<head>
		<title>Look at all of this data!</title>
		<link rel="stylesheet" type="text/css" href="teststyle.css">
	</head>
	<body>
		<div>
			<h1>Lost & Found</h1>
		</div>
		<table>
			<thead>
				<th>Name</th>
				<th>Description</th>
				<th>Price</th>
				<th>Edit</th>
				<th style="color:darkred">Delete item?</th>
			</thead>
			<tbody><!--Code is happening below this line to populate the table's contents! -->
			<% items.forEach( function(item) { %>
				<tr>
					<td style='color:<%= item.color %>'><strong><%= item.name %></strong></td>
					<td><em><%= item.desc %></em></td>
					<td><%= item.price %></td>
					<td><a href='/editEntry?id=<%= item.id %>' style='text-decoration:none; color:darkgreen'>Edit</a></td>
					<td><a href='/confirmDelete?id=<%= item.id %>' style='text-decoration:none; color:darkorange'>Delete</a></td>
					
				</tr>

			<% }) %> <!-- Code is done! -->
			</tbody>
		</table>
		<br>
		<br>
		<p>Want to add a new item to the list? Click <a href='/addNewEntry' style='text-decoration:none;color:orange'>here</a>!</p>
	</body>
</html>