<!DOCTYPE html>

<html>
	<head>
		<title>Look at all of this data!</title>
		<link rel="stylesheet" type="text/css" href="teststyle.css">
	</head>
	<body>
		<%- include('../partials/navbar') %>
		<div>
			<h1>Lost & Found</h1>
		</div>
		<table>
			<thead>
				<tr>
					<th id="itemName">Name</th>
					<th id="itemDesc">Description</th>
					<th id="itemPrice">Price</th>
					<th id="edit">Edit</th>
					<th id="delete">Delete</th>
				</tr>
			</thead>
			<tbody><!--Code is happening below this line to populate the table's contents! -->
			<% items.forEach( function(item) { %>
				<tr>
					<td class="itemName" style='color:<%= item.color %>'><strong><%= item.name %></strong></td>
					<td class="itemDesc"><em><%= item.desc %></em></td>
					<td class="itemPrice"><%= item.price %></td>
					<td class="edit"><a class="edit" href="/editEntry?id=<%= item.id %>">Edit</a></td>
					<td class="delete"><a class="delete" href="/confirmDelete?id=<%= item.id %>">Delete</a></td>
					
				</tr>

			<% }) %> <!-- Code is done! -->
			</tbody>
		</table>
		<br>
		<div>
			<p>Want to add a new item to the list? Click <a href='/addNewEntry'>here</a>!</p>
		</div>
	</body>
</html>